<div class="container">
<h1>All our Flats (<%= @flats.length %>)</h1>
<% @flats.each do |flat| %>
<div class="flat-card">
  <h3><%=flat.name%></h3>
  <p><%= flat.description %></p>
  <div class='d-flex '>


      <p class= "fs-4 flex-grow-1"><i class="fa-solid fa-user-group"></i>   <%=flat.number_of_guests%>  </p>
    <p class= "fs-4 flex-grow-1"><i class="fa-solid fa-euro-sign"></i>   <%=flat.price_per_night%>  </p>
</div>
<hr>
<div class="d-flex">
<%= link_to "More Details", flat_path(flat) %>
<%= link_to "Remove", flat_path(flat),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
</div>
  </div>
<% end %>
</div>
